.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll; /*overflow -> is used when there is too many items inside */
  }

  .cart-items::-webkit-scrollbar { width: 0 !important } /* remove the scrollbar from chrome */

  button {
    margin-top: auto; /*so this is always on the bootom*/
  }
}
